@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<h2> This is about us Page </h2>
<iframe src="https://giphy.com/embed/ZB8xJQqO4JZDmgVNsu" width="480" height="471" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/MAXNOMIC-maxnomic-needforseat-ZB8xJQqO4JZDmgVNsu">via GIPHY</a></p>
